/* ここから下に記載していく */

/* 共通設定 */
@media screen and (min-width: 641px){


body{
  width: 1366px;
  margin: 0 auto;
}

h1{
  font-size: 24px;
  color: #ffd61a;
}

h2{
  font-size: 18px;
  color: #222222;
}

p{
  font-size: 16px;
  color: #222222;
}



/* header */
header{
    width: 1366px;
    height: 121px;
    /* background: yellow; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}
.logo{
  width: 546px;
  height: 121px;
  /* border: 1px solid blue; */
}
.logo img{
  width: 60%;
  padding-top: 25px;
  padding-left: 25px;
}

.nav_menu{
  width: 819px;
  height: 121px;
  /* border: 1px solid blue; */
}

.menu{
  /* width: 600px; */
  /* height: 121px; */
  /* border: 1px solid blue; */
  padding: 50px 0;
  display: flex;
  /* justify-content: space-around; */
}

header a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
  font-size: 21px;
}


/* トップ画像 */
.top_img{
  width: 1366px;
  height: 500px;
  border: 1px solid white;
  margin: 0 auto;
  background-image: url("/Users/oowtkh/Documents/G's Academy/10:9 HTML,CSS①/2019_html/01_html/lab_name_00/img/mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top_img .text{
  width: 1366px;
  height: 100px;
  margin-top: 200px;
  /* border: 1px solid blue; */
  text-align: center;
}

.top_img h1{
  font-size: 40px;
  color: white;
}
.top_img p{
  padding-top: 30px;
  font-size: 27px;
  color: white;
}


/* ABOUT */

.about{
  width: 1366px;
  height: 330px;
  margin: 60px auto 80px;
  text-align: center;
}

.about h1{
  font-size: 24px;
  color: #ffd61a;
  padding-bottom: 30px;
}

.about h2{
  font-size: 18px;
  color: #222222;
  padding-bottom: 60px;
}

.about .p{
  font-size: 16px;
  color: #222222;
}


.about .br{
  padding-bottom: 40px;
}

/* スライドショー */

.slide_show{
  width: 1366px;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
}

.slide_show .slide_a{
  width: 229px;
  height: 255px;
}

.slide_show .slide_b{
  width: 455px;
  height: 255px;
}


.slide_show img{
  width: 100%;
  height: 255px;
  margin: 0 auto 60px;
  object-fit: cover;
}

/* COURSE text */
.course_text{
  width: 1366px;
  height: 80px;
  text-align: center;
  margin: 0 auto 60px;
}

.course_text h2{
  padding-bottom: 30px;
}

/* .course_text p{
  font-size: 16px;
} */

/* COURSE_introduce */
.course_introduce{
  width: 1366px;
  height: 1140px;
  /* border: 1px solid blue; */
  margin: 0 auto 60px;
  background: #fafafa;
}

.course_introduce .box{
  width: 1366px;
  height: 380px;
  /* border: 1px solid blue; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
} 

.course_introduce .img{
  width: 688px;
  height: 380px;
  /* border: 1px solid blue; */
  
}

.course_introduce img{
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.course_introduce .text_1_3{
  width: 688px;
  height: 380px;
  /* border: 1px solid blue;  */
} 

.course_introduce .text_2{
  width: 688px;
  height: 380px;
  /* border: 1px solid blue;  */
} 

.text_1_3_box{
  width: 480px;
  height: 140px;
  padding: 120px 0px 120px 50px;
  /* border: 1px solid blue;  */
}

.course_introduce h2{
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.course_introduce p{
  letter-spacing: 1.5px;
}

.text_2_box{
  width: 480px;
  height: 140px;
  padding: 120px 50px 120px 0;
  margin-left: auto;
  /* border: 1px solid blue;  */

}


/* NEWS */

.news{
  width: 1366px;
  height: auto;
  margin: 0 auto 120px;
  /* border: 1px solid blue; */
}
.news_text{
  text-align: center;
  margin: 0 auto;
}

.news h2{
  padding: 30px 0 60px;
}

.news_box{
  width: 960px;
  /* border: 1px solid blue; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.news_hover {
  width: 300px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  /* border: 1px solid blue; */
}
.news_hover:hover {
  opacity: 0.6;
}

.news .text_box{
  width: 300px;
  /* border: 1px solid blue; */
}

.news .text_box .date{
  padding: 30px 0 24px;
}

.move_hover {
    text-align: center;
    margin: 60px auto 0;
    font-size: 18px;
    width: 300px;
    height: 60px;
    background:#ffd61a;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* border: 1px solid blue; */
}
.move_hover:hover {
  opacity: 0.6;
}

.move_hover h3{
  padding-top: 20px;
}


/* Access */
.access{
  width: 1366px;
  text-align: center;
  margin: 0 auto 120px;
  /* border: 1px solid blue; */
  background: #fafafa;
}


.access_title h2{
  padding-top: 60px;
}

.access_title p{
  padding: 30px 0 60px;
}

iframe{
  width: 100%;
  height: 350px;
  margin-bottom: 60px;
  /* object-fit: contain; */
}

/* .access tr{
  text-align: left;
} */

.access table{
  width: auto;
  height: auto;
  text-align: start;
  margin: 0 auto;
  font-size: 16px;
  /* border: 1px solid blue; */
}

.access tr{
  height: 50px;
  /* border: 1px solid blue; */
}

.access td{
  width: 380px;
  margin-top: 30px;
  padding-top: 15px;
  padding-right: 50px;

}

.access .left{
  width: 80px;
}

/* CONTACT */

.contact{
  width: 1366px;
  height: auto;
  margin: 0 auto 140px;
}

.contact_title{
  text-align: center;
  margin-bottom: 70px;
}

.contact_title h2{
  padding-bottom: 30px;
}

.contact_title_2 {
  margin: 60px 0 30px;
}

.form_box{
  width: 640px;
  height: auto;
  border-top: 1px solid #bfbfbf;
  margin: 0 auto;
  display: flex;
}

.form_title{
  width: 240px;
  border-right:  1px solid #bfbfbf;
}

.form_title p{
  padding: 8px 0 8px 8px;
}

.form_parts{
  width: 400px;
}

.form_parts .box{
  margin: 8px 0 8px 8px;
  width: 328q;
  height: 36px;
}

.form_parts select{
  margin: 8px 0 8px 8px;
  width: 328q;
  height: 36px;
}

.check_box{
  width: 400px;
}

.check_box p{
margin-bottom: 24px;
}

.form_box_syousai{
  width: 640px;
  height: auto;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  margin: 0 auto;
  display: flex;
}

.syousai{
  margin: 8px 0 8px 8px;
  width: 328q;
  height: 85px;

}

.send_hover {
  text-align: center;
  margin: 30px auto 0;
  font-size: 18px;
  width: 300px;
  height: 60px;
  background:#ffd61a;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.send_hover:hover {
opacity: 0.6;
}

.send_hover h3{
padding-top: 20px;
}

footer{
  width: 1366px;
  height: 75px;
  background:  #707070;
  text-align: center;
  margin: 0 auto;
}

footer p{
  padding-top: 30px;
  color: white;
}

}

@media screen and (max-width: 640px){
  /* 共通設定 */
  
  body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: box;
    
  }
  
  .wrap{
    overflow: hidden;
  }
  
  img{
    width: 100px;
  }
  
  h1{
    font-size: 19px;
    color: #ffd61a;
  }
  
  h2{
    font-size: 13px;
    color: #222222;
  }
  
  p{
    font-size: 11px;
    color: #222222;
    white-space: normal;
  }
  
  div{
    display: block;
  }
  
/* header */
header{
  width: 100%;
  /* height: 121px; */
  /* background: yellow; */
  margin: 0;
  display: flex;
  /* justify-content:space-between; */
  /* こいつが元凶！！！！ */
}
.logo{
width: 40%;
/* height: 100px; */
/* border: 1px solid blue; */
}
.logo img{
width: 60%;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

.nav_menu{
width: 60%;
/* height: 100px; */
/* border: 1px solid blue; */
}

.menu{
/* width: 600px; */
/* height: 100px; */
/* border: 1px solid blue; */
padding: 0;
display: flex;
/* justify-content: space-around; */
}

header a{
text-decoration: none;
color: black;
margin-left: 10px;
font-size: 10px;
}



/* トップ画像 */
.top_img{
  width: 100%;
  /* height: 200px; */
  border: 1px solid white;
  margin: 0 auto;
  background-image: url("/Users/oowtkh/Documents/G's Academy/10:9 HTML,CSS①/2019_html/01_html/lab_name_00/img/mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top_img .text{
  width: 100%;
  /* height: 45px; */
  margin: 77px 0;
  /* margin-top: 200px; */
  /* border: 1px solid blue; */
  text-align: center;
}

.top_img h1{
  font-size: 25px;
  color: white;
}
.top_img p{
  /* padding-top: 30px; */
  font-size: 12px;
  color: white;
}

  /* about */
  .about{
    /* box-sizing: border-box; */
    width: 100%;
    /* height: auto; */
    margin: 40px 0 30px;
    text-align: center;
    /* border: 1px solid blue; */
  }


  .about h1{
    padding-bottom: 15px;
  }
  
  .about h2{
    padding-bottom: 30px;
  }
  
  .about .p{
    font-size: 16px;
    color: #222222;
  }
  
  .about .br{
    padding-bottom: 20px;
  }

 /* スライドショー  */
  .slide_show{
    width: 100%;
    /* height: auto; */
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .slide_show .slide_a{
    width: 10%;
    /* height: 100px; */
  }
  
  .slide_show .slide_b{
    width: 40%;
    /* height: 100px; */
  }
  
  .slide_show img{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
  }

/* COURSE text */
.course_text{
  width: 100%;
  /* height: 80px; */
  text-align: center;
  margin: 20px auto 30px;
  padding-top: 20px;
}

.course_text h2{
  padding-bottom: 30px;
}  

/* COURSE_introduce */
.course_introduce{
  width: 100%;
  /* height: auto; */
  /* border: 1px solid blue; */
  margin: 0 auto 60px;
  background: #fafafa;
}

.course_introduce .box{
  width: 100%;
  /* height: auto; */
  /* border: 1px solid blue; */
  margin: 0 auto;
  display: block;
  /* justify-content: center; */
} 

.course_introduce .box_2{
  width: 100%;
  /* height: auto; */
  /* border: 1px solid blue; */
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: center; */
} 

.course_introduce .img{
  width: 300px;
  /* height: auto; */
  margin: 0 auto;
  /* border: 1px solid blue; */
  

}
.course_introduce img{
  width: 100%;
  /* height: 150px; */
  object-fit: cover;
}

.course_introduce .text_1_3{
  width: 100%;
  /* height: auto; */
  margin: 20px 0 40px;
  /* border: 1px solid blue;  */
} 



.text_1_3_box{
  width: 100%;
  /* height: auto; */
  text-align: center;
  /* padding: 120px 0px 120px 50px; */
  /* border: 1px solid blue;  */
}

.course_introduce h2{
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.course_introduce p{
  letter-spacing: 1.5px;
}

.course_introduce .text_2{
  width: 100%;
  /* height: auto; */
} 

.text_2_box{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  order: 2;
  /* height: auto; */
  /* padding: 120px 50px 120px 0; */
  /* border: 1px solid blue;  */
}


.img_2{
  width: 100%;
  /* height: auto; */
  margin: 0 auto;
  order: 1;
}




/* NEWS */

.news{
  width: 100%;
  height: auto;
  margin: 0 auto 120px;
  /* border: 1px solid blue; */
}
.news_text{
  text-align: center;
  margin: 0 auto;
}

.news h2{
  padding: 30px 0 60px;
}

.news_box{
  width: 70%;
  /* border: 1px solid blue; */
  margin: 0 auto;
  display: box;
  /* justify-content: space-between; */
}

.news_hover {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  /* border: 1px solid blue; */
}
.news_hover:hover {
  opacity: 0.6;
}

.img_box{
  display: inline
}

.news .text_box{
  width: 100%;
  /* border: 1px solid blue; */
  margin: 0 auto;
}

.news .text_box .date{
  padding: 30px 0 24px;
}

.move_hover {
    text-align: center;
    margin: 60px auto 0;
    font-size: 18px;
    width: 300px;
    height: 60px;
    background:#ffd61a;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* border: 1px solid blue; */
}
.move_hover:hover {
  opacity: 0.6;
}

.move_hover h3{
  padding-top: 20px;
}
/* Access */

.access{
  width: 100%;
  text-align: center;
  margin: 0 auto 120px;
  /* border: 1px solid blue; */
  background: #fafafa;
}

.access_title h2{
  padding-top: 60px;
}

.access_title p{
  padding: 30px 0 60px;
}

iframe{
  width: 100%;
  height: 350px;
  margin-bottom: 60px;
  /* object-fit: contain; */
}

/* .access tr{
  text-align: left;
} */

.access table{
  width: auto;
  height: auto;
  text-align: start;
  margin: 0 auto;
  font-size: 16px;
  /* border: 1px solid blue; */
}

.access tr{
  height: 50px;
  /* border: 1px solid blue; */
  font-size: 16px;
}

.access td{
  width: 380px;
  margin-top: 30px;
  padding-top: 15px;
  padding-right: 50px;

}

.access .left{
  width: 80px;
}


/* contact */

.contact{
  width: 100%;
  height: auto;
  margin: 0 auto 140px;
}

.contact_title{
  text-align: center;
  margin-bottom: 70px;
}

.contact_title h2{
  padding-bottom: 30px;
}

.contact_title_2 {
  margin: 60px 0 30px;
}

.form_box{
  width: 100%;
  height: auto;
  border-top: 1px solid #bfbfbf;
  margin: 0 auto;
  display: flex;
}

.form_title{
  width: 19%;
  border-right:  1px solid #bfbfbf;
}

.form_title p{
  padding: 8px 0 8px 8px;
}

.form_parts{
  width: 80%;
}

.form_parts .box{
  margin: 8px 0 8px 8px;
  width: 328q;
  height: 36px;
}

.form_parts select{
  margin: 8px 0 8px 8px;
  width: 328q;
  height: 36px;
}

.check_box{
  width: 80%;
}

.check_box p{
margin-bottom: 24px;
}

.form_box_syousai{
  width: 100%;
  height: auto;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  margin: 0 auto;
  display: flex;
}

.syousai{
  margin: 8px 0 8px 8px;
  width: 328q;
  height: 85px;

}

.send_hover {
  text-align: center;
  margin: 30px auto 0;
  font-size: 18px;
  width: 300px;
  height: 60px;
  background:#ffd61a;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.send_hover:hover {
opacity: 0.6;
}

.send_hover h3{
padding-top: 20px;
}

footer{
  width: 100%;
  /* height: 75px; */
  background:  #707070;
  text-align: center;
  margin: 0 auto;
}

footer p{
  padding-top: 30px;
  color: white;
}

}